<div class="col-sm-6" ng-controller="EntriesCtrl">

    <div class="row" ng-repeat="entry in entries | orderBy:'-creationDate'">
        <div class="col-xs-12">
            <h2>{{entry.title}}</h2>

            <p>{{entry.teaser}}</p>

            <p class="pull-right">
                <span class="label label-default">keyword</span>
                <span class="label label-default">tag</span>
                <span class="label label-default">post</span>
            </p>
            <ul class="list-inline">
                <li>{{ entry.author }}</li>
                <li>{{ entry.creationDate | date:"'am' dd.MM.yyyy 'um' HH:mm" }}</li>
                <li><i class="glyphicon glyphicon-comment"></i> 2 Comments</li>
                <!-- li><i class="glyphicon glyphicon-share"></i> 14 Shares</li -->
            </ul>
        </div>
        <hr>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <h2>Article Heading</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                Aliquam in felis sit amet augue.</p>

            <p class="pull-right"><span class="label label-default">keyword</span> <span
                    class="label label-default">tag</span> <span class="label label-default">post</span></p>
            <ul class="list-inline">
                <li>4 Days Ago</li>
                <li><i class="glyphicon glyphicon-comment"></i> 7 Comments fasdfasdfasdfasfasdfsdfasdf</li>
                <li><i class="glyphicon glyphicon-share"></i> 56 Shares</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <h2>Article Heading</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                Aliquam in felis sit amet augue.</p>

            <p class="lead">
                <button class="btn btn-default">Read More</button>
            </p>
            <p class="pull-right"><span class="label label-default">keyword</span> <span
                    class="label label-default">tag</span> <span class="label label-default">post</span></p>
            <ul class="list-inline">
                <li><a href="#">1 Week Ago</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 4 Comments</a>
                </li>
                <li><a href="#"><i class="glyphicon glyphicon-share"></i> 34 Shares</a></li>
            </ul>
        </div>
    </div>
    <hr>
</div>