<div class="col-sm-7" ng-controller="BachsanierungCtrl">

    <h1>Bachsanierung</h1>

    <a href="http://bachsanierung.ch" target="_blank"><img src="images/projects/bachsanierung.jpg"
                                                           alt="bachsanierung.ch"></a>

    <h2>Technologies</h2>
    This is my first <a href="https://angularjs.org/" target="_blank">AngularJS</a> and <a
        href="http://getbootstrap.com/" target="_blank">Bootstrap</a> frontend. The backend is made with Java EE
    on a <a href="http://wildfly.org/" target="_blank">Wildfly</a> application server.<br/>
    The services are running in the cloud on two <a href="http://www.cloudatcost.com/" target="_blank">Cloud at Cost</a>
    VMs. Each service is running in an own <a href="https://www.docker.com/" target="_blank">Docker</a> container.<br/>
    The security of the admin site is made with <a href="http://keycloak.jboss.org/" target="_blank">Keycloak</a> and
    Java EE security.

    <h2>Professional competence</h2>
    The focus of this page is to inform people about the upcoming creek restructuring in Kirchberg.<br/>
    The site consist of two business parts. One part is the open website with some static pages about the backgrounds
    and a dynamic front page with current news and status updates. This dynamic updates can be made by the owner
    himself over a secured admin page. He can create, update and delete entries as well as update and delete comments.
    New comments can be made from everyone. One does not need to have a login for the page. The entries and comments are
    displayed in the admin page with a live preview that the owner can see the results in real time.

</div>