<div class="col-sm-7" ng-controller="FootballbetsCtrl">

    <h1>Footballbets</h1>

    <a href="http://footballbets.optimist.expert" target="_blank"><img src="images/projects/footballbets.jpg"
                                                                       alt="footballbets.optimist.expert"></a>

    <h2>Technologies</h2>
    This is my first <a href="https://nodejs.org/" target="_blank">NodeJS</a> project. I have used the following
    technologies:
    <ul>
        <li><a href="https://nodejs.org/" target="_blank">NodeJS</a></li>
        <li><a href="http://expressjs.com/" target="_blank">Express</a></li>
        <li><a href="http://jade-lang.com/" target="_blank">Jade</a></li>
    </ul>
    The application is running on <a href="http://azure.microsoft.com/de-de/services/app-service/web/" target="_blank">Azure</a>
    as a website.

    <h2>Professional competence</h2>
    The site displays all football games with the corresponding rates. The user can register itself and bet on these
    games.<br/>
    The admin can set the rates and close the game by setting the winner or as a tie. The betting is automatically
    closed when the start time of the game is reached.

</div>