<div class="col-sm-7" ng-controller="PostsCtrl">

    <div class="row">
        <div class="col-xs-12">
            <h1>{{ entry.title }}</h1>

            <p>by {{ entry.author }}</p>
            <small>
                <span class="glyphicon glyphicon-time"></span>
                {{ entry.creationDate | date:"dd.MM.yyyy 'at' HH:mm" }}
            </small>

            <hr/>

            <p class="lead">{{ entry.teaser }}</p>

            <div ng-bind-html="entry.content"></div>

            <hr>

            <div class="well">
                <h4>Leave a Comment:</h4>

                <form role="form">
                    <div class="form-group">
                        <label for="inputAuthor">Author</label>
                        <input type="text" class="form-control" id="inputAuthor"
                               placeholder="Author of this comment"
                               ng-model="comment.author"/>
                    </div>

                    <div class="form-group">
                        <label for="inputContent">Content</label>
                        <textarea class="form-control" rows="4" id="inputContent"
                                  placeholder="The comment" ng-model="comment.content"></textarea>
                    </div>

                    <div class="form-group">
                        <button type="submit" ng-click="create(comment)" class="btn btn-primary">Post <span
                                class="glyphicon glyphicon-chevron-right"></span></button>
                    </div>
                </form>
            </div>

            <hr>

            <div class="media" ng-repeat="comment in entry.comments | orderBy:'-creationDate'">
                <span class="pull-left">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </span>

                <div class="media-body">
                    <h4 class="media-heading">{{ comment.author }}
                        <small>{{comment.creationDate | date:"dd.MM.yyyy 'at' HH:mm"}}
                        </small>
                    </h4>
                    {{ comment.content }}
                </div>
            </div>

            <!--div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>

                <div class="media-body">
                    <h4 class="media-heading">Start Bootstrap
                        <small>August 25, 2014 at 9:30 PM</small>
                    </h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                    vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>

            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>

                <div class="media-body">
                    <h4 class="media-heading">Start Bootstrap
                        <small>August 25, 2014 at 9:30 PM</small>
                    </h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.
                    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                    vulputate fringilla. Donec lacinia congue felis in faucibus.
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://placehold.it/64x64" alt="">
                        </a>

                        <div class="media-body">
                            <h4 class="media-heading">Nested Start Bootstrap
                                <small>August 25, 2014 at 9:30 PM</small>
                            </h4>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin
                            commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce
                            condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>
        </div>
    </div -->

        </div>
    </div>
</div>